/* Bicicleta */
@import "./bicicleta/bicicleta.css ";
@import "./bicicleta/seguro.css ";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* Global */
@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/cores.css";
@import "./utilidades/tipografia.css";

/* Home */
@import "./home/depoimentos.css";
@import "./home/introducao.css";
@import "./home/parceiros.css";
@import "./home/tecnologia.css";

/* Seguros */
@import "/css/seguros/seguros.css";
@import "/css/seguros/vantagens.css";
@import "/css/seguros/perguntas.css";

/* Termos */
@import "/css/termos/termos.css";


